name: Test Gateway

on:
  push:
    branches:
    paths:
      - 'gateway/**'
  pull_request:
    branches:
    paths:
      - 'gateway/**'

env:
  java: 11.0.x

defaults:
  run:
    working-directory: gateway

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: gradle/wrapper-validation-action@v1

      - uses: actions/setup-java@v1
        with:
          java-version: ${{ env.java }}

      - name: Test
        run: |
          ./gradlew clean test
